<footer class="footer">
	<div class="footerbg"> <img src="{pboot:sitedomain}/style/img/footer-bg.png" alt=""> </div>
	<div class="footer-top pt-120 pb-110">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<!-- footer widget -->
					<div class="footer-widget">
						<div class="footer-logo"> <a href="{pboot:sitedomain}/"><img src="{pboot:sitelogo}" alt=""></a>
						</div>
						<p>{pboot:content id=31} [content:content drophtml=1 dropblank=1 len=40 more='']{/pboot:content}
						</p>
					</div>
					<!--End of footer widget -->
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<!-- widget header -->
						<div class="widget-header">
							<h5>联系我们</h5>
						</div>
						<!-- widget header -->
						<div class="widget-body">
							<ul class="address-list">
								<li> <span><i class="fa  fa-phone-square"></i></span>{pboot:companyphone} </li>
								<li> <span><i class="fa  fa-envelope"></i></span> {pboot:companyemail} </li>
								<!--<li> <span><i class="fa  fa-map"></i></span>{pboot:companyaddress}</li>-->
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6" style="display:flex;border-left:1px solid #ccc">
					<p style="font-size:14px;width:92%;margin:auto;">
						Address: 10 Anson Road, #32 International Plaza, Singapore 079903。<br />
						Important: okla仅支持美元付款，任何非美元收款的通道，可能存在诈骗风险，请注意辨别.
					</p>
				</div>
				<div class="col-lg-3 col-sm-6" style="display:none">
					<div class="footer-widget">
						<!-- widget header -->
						<div class="widget-header">
							<h5>快速链接</h5>
						</div>
						<!-- widget header -->
					</div>
					<div class="widget-body">
						<div class="extra-link">
							<div class="link-left">
								<ul>
									<li><a href="{pboot:sitedomain}/">首页</a></li>
									{pboot:nav parent=0}
									<li><a href="[nav:link]">[nav:name]</a></li> {/pboot:nav}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6" style="display:none">
					<div class="footer-widget">
						<div class="widget-body">
							<div class="twetter-post-inner">
								<div class="footer-post-details" style="display:none"> <img src="{pboot:companyweixin}" width="175">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-text text-center">
			<p>
				{pboot:sitecopyright} <a rel="nofollow">{pboot:siteicp}</a>
			</p>
		</div>
	</div>
</footer>

<div class="phone_btn">
	<ul class="wrap">
		<li>
			<a href="https://t.me/oklacom" target="_blank">
				<img src="/style/img/icons/telegram-plane.svg" width="22" class="svg" />
				<span>在线客服</span>
			</a>
		</li>
		<li>
			<a href="https://vip.okla.app/index.html#/check" target="_blank">
				<img src="/style/img/icons/safety.svg" width="22" class="svg" />
				<span>客服查验</span>
			</a>
		</li>
		<li>
			<a rel="nofollow" href="#" id="backToTop">
				<img src="/style/img/icons/top-filling.svg" class="svg" width="22" />
				<span>回到顶部</span>
			</a>
		</li>

	</ul>
</div>

<script src="{pboot:sitedomain}/style/js/jquery-3.3.1.min.js"></script>
<script src="{pboot:sitedomain}/style/js/bootstrap.bundle.min.js"></script>
<script src="{pboot:sitedomain}/style/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="{pboot:sitedomain}/style/plugins/parsley/parsley.min.js"></script>
<script src="{pboot:sitedomain}/style/plugins/parallax/parallax.js"></script>
<script src="{pboot:sitedomain}/style/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="{pboot:sitedomain}/style/js/menu.min.js"></script>
<script src="{pboot:sitedomain}/style/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>
<script src="{pboot:sitedomain}/style/plugins/waypoints/jquery.counterup.min.js"></script>
<script src="{pboot:sitedomain}/style/js/scripts.js"></script>
<script src="{pboot:sitedomain}/style/js/custom.js"></script>