<div class="footer-middle style-two upper" id="contact">
  <div class="footer-bottom-area d-flex align-items-center" style="height: 120px;">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-4">
          <div class="itpro-logo">
            <a class="logo_thumb" href="/" title="itpro">
              <img src="static/picture/logo1.png" alt="logo" style="width: 50%;">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div style="color: #fff;">
            <div style="margin-bottom: 10px;">
              <i class="bi bi-clock-history"></i>
              工作时间：9:00AM - 04:00 AM
            </div>
            
              <div>
                <i class="bi bi-send"></i>
                Telegram客服：<a href="https://t.me/cardking88" target="_blank">@cardking</a>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-bottom-content">
            <div class="footer-bottom-content-copy">
              <p>{pboot:sitecopyright}<a rel="nofollow">{pboot:siteicp}</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==================================================-->
<!-- End itpro Footer Middle Area -->
<!--==================================================-->