<div class="footer-middle style-two upper" id="contact">
  <div class="footer-bottom-area d-flex align-items-center" style="height: 180px;">
    <div class="container">
      <div class="row d-flex align-items-start">
        <div class="col-md-4">
          <div class="itpro-logo">
            <a class="logo_thumb" href="/" title="itpro">
              <img src="static/picture/logo1.png" alt="logo" style="width: 50%;">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div style="color: #fff;">
            <div style="margin-bottom: 10px;">
              <i class="bi bi-clock-history"></i>
              工作时间：9:00AM - 04:00 AM
            </div>

            <div>
              <i class="bi bi-send"></i>
              Telegram客服：<a href="https://t.me/cardking88" target="_blank">@cardking</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div style="color: #fff;">
            <div style="margin-bottom: 10px;">
              官网：<a href="https://www.cardking.tw/" target="_blank">{pboot:sitecopyright}</a>
            </div>
            <div style="margin-bottom: 10px;">
              邮箱：cardkingtw@hotmail.com
            </div>
            <div style="display: inline-flex;">
              <div style="width: 48px;">地址：</div>
              <div style="width: calc(100% - 48px);">Building 2, No. 60, Minsheng 1st Road, Xinxing District, Kaohsiung
                City,802721,Taiwan
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==================================================-->
<!-- End itpro Footer Middle Area -->
<!--==================================================-->