<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link rel="shortcut icon" type="image/png" href="favicon.png">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/bootstrap.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/font-awesome.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/plugins/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/plugins/Magnific-Popup/magnific-popup.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/style.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/responsive.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/custom.css">
</head>

<body class="baise">
{include file=comm/head.html}
<div class="page-title-wrap" data-bg-img="{sort:pic}">
  <div class="container">
    <div class="row">
      <div class="col"> 
        <div class="page-title-content text-center">
          <ul class="mb-0 list-unstyle nav" style="display:none">
            <li>{pboot:position separator='>'}</li>
          </ul>
          <h1 class="h2">{sort:name}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="pt-120 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-list-inner"> 
          {pboot:list num=15 order=sorting}
          <div class="single-blog-inner"> 
            <div style="display:none" class="post-image"> <a href="[list:link]"> <img src="[list:ico]" alt=""> </a>
              <div class="post-date">
                <p><span>[list:date style=m-d]</span>[list:date style=Y]</p>
              </div>
            </div>
            <div class="post-content">
              <div class="post-details">
                <div class="post-title">
                  <h3 style="margin-bottom:0"><a href="[list:link]">[list:title]</a></h3>
                   <span style="font-weight:bold">[list:date style=Y-m-d]</span>
                </div>
                <p>[list:content drophtml=1 dropblank=1 lencn=60]</p>
                <a class='btn' href="[list:link]">Read More</a> </div>
            </div>
          </div>
         {/pboot:list}

        </div>
        
        <div class="dede_pages">
        <ul>
        {include file=comm/page.html}
        </ul>
        </div>
      </div>
     {include file=comm/right.html}
    </div>
  </div>
</section>
{include file=comm/foot.html}
</body>
</html>