<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{content:title}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link rel="shortcut icon" type="image/png" href="favicon.png">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/bootstrap.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/font-awesome.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/plugins/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/plugins/Magnific-Popup/magnific-popup.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/style.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/responsive.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/custom.css">
</head>

<body class="baise">
{include file=comm/head.html}
<div class="page-title-wrap" data-bg-img="{pboot:sitedomain}/style/img/video-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col"> 
        <!-- page title content -->
        <div class="page-title-content text-center">
          <ul class="mb-0 list-unstyle nav">
            <li>{pboot:position separator='>'}</li>
          </ul>
          <h1 class="h2">{sort:name}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="pt-120 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8"> 
        <div class="blog-details-inner"> 
          <div class="single-blog-inner"> 
            <div class="post-content">
              <div class="post-details">
                <div class="post-info d-flex"> <span>{content:date style=Y-m-d}</span></div>
                <div class="post-title">
                  <h3>{content:title}</h3>
                </div>
                <div>{content:content}
				<br><div class="text-secondary lh-2">
		<p>上一篇：{content:precontent}</p>
		<p>下一篇：{content:nextcontent}</p>
	</div>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {include file=comm/right.html}
    </div>
  </div>
</section>
{include file=comm/foot.html}
</body>
</html>